# SOURCE: requirements-freqai.txt
# TIME: 2025-03-31_03-51-13

In order to run the bot, you need to include all the requirements mentioned in requirements.txt and requirements-plot.txt. The required packages for freqai are scikit-learn (version 1.6.1), joblib (version 1.4.2), catboost (version 1.2.7 if not on ARM platform), lightgbm (version 4.6.0), xgboost (version 2.1.4), tensorboard (version 2.19.0), and datasieve (version 0.1.7).

# TAGS: -r requirements.txt
-r requirements-plot.txt
scikit-learn
joblib
catboost
lightgbm
xgboost
tensorboard
datasieve
